 <div class="container">
  <nav class="navbar navbar-inverse py-2">
    <ul class="nav navbar-nav">
       <li><a routerLink="./adashb">{{title}}</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink='/'>Main Site</a></li>
      <li><a routerLink='/alogin' class="btn btn-link ">LogOut</a></li>
    </ul>
  </nav>
</div> 
<!-- <div class="container">
    <nav class="navbar navbar-inverse">
    
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
 
</nav>
</div> -->