

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/bhome">Home</a></li>
      <li><a routerLink="/babout">Blogs</a></li>
      <li><a routerLink="/bCat">Category</a></li>

      <li><a routerLink="/bcategory">About</a></li> 
      <li> <a  routerLink="/alogin" class="btn btn-link " >Login </a></li>
    </ul>
  </div>
</nav>